# NextAuth.js
AUTH_SECRET=
AUTH_COGNITO_ID=
AUTH_COGNITO_SECRET=
AUTH_COGNITO_ISSUER=https://cognito-idp.ap-northeast-2.amazonaws.com/{USER_POOL_ID}

# API
NEXT_PUBLIC_API_BASE_URL=https://g1rj1dd4j1.execute-api.ap-northeast-2.amazonaws.com/dev
NEXT_PUBLIC_GRAPHQL_URL=http://64.110.79.49:8080/v1/graphql
NEXT_PUBLIC_ML_INFERENCE_URL=http://64.110.79.49:8081/inference
